# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
venv_silver/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints
*.ipynb

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/saved/*
models/checkpoints/*
!models/saved/.gitkeep

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs & Cache
*.log
*.sqlite
catboost_info/
reports/metrics/*
reports/figures/*
!reports/metrics/.gitkeep
!reports/figures/.gitkeep
